
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #72afd3, #53b4d0, #34b8c5, #2abbb3, #40bc9a);
   
}
header {
    display:flex;
    justify-content: center;
    height: 120px;    
}
.hd {
    display: flex;
    align-items: center;
    justify-content: center;   
}
h1 {
    font-size: 50px;
    font-family: 'Nunito', sans-serif;;
    font-weight:bold;
    color:#2e2688;
}

.tb {
    display: flex;
    align-items: center;
    justify-content: center;  
}
table {  
    width:500px;
    height: 300px;
    align-items: center;
    justify-content: center;    
}
table thead {
    background-color: #227c86;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table tbody {
    background-color: rgb(228, 225, 225);
}
th, td {
    padding: 10px;
}

td {
    border: 3px solid #53b4d0;
}

#line1, #line2, #line3, #line4 {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: 0;
}
#quant1, #quant2, #quant3, #quant4 {
    border: 1px solid #ccc;
    border-radius:10px;
    text-align: center;
    font: size 17px;
    padding: 6px; 
    outline: 0;
}
#price1, #price2, #price3, #price4 {
    border: none;
    background-color:  rgb(228, 225, 225);
}
#totalItem1, #totalItem2, #totalItem3, #totalItem4 {
    border: none;
    background-color:  rgb(228, 225, 225);
}
#totalGeral {
    border: none;
    background-color: rgb(228, 225, 225);
    font-size: 18px;
    font-weight: bold;
}
#btn {
    background: #076972;
    border:0;
    border-radius: 6px;
    padding: 4px;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    outline: 0;
    
}
#btn:hover{
    background-image: linear-gradient(to right, #72afd3, #53b4d0, #34b8c5, #2abbb3, #40bc9a);
}

.markt { 
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly ;  
    align-content: space-between; 
}
.footer_copy {
    margin-top: 50px;
    color: rgb(122, 121, 121);
    text-align: center;
    
}


